services:
  mongodb:
    image: mongo:7
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      PORT: 5000
      MONGODB_URI: mongodb+srv://draftly_db:Ahcf8MhHUfBLRdjj@draftly.vwr5bnz.mongodb.net/?retryWrites=true&w=majority&appName=Draftly
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    command: sh -c "npm install && npm run dev"

  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      HOST: "0.0.0.0"
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "3000:3000"
    depends_on:
      - backend
    command: sh -c "npm install && npm start"

volumes:
  mongo_data:
